[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git

[submodule "third_party/cutlass_hip"]
	path = third_party/cutlass_hip
	url = https://github.com/lvhoaa/cutlass.git
